:root {
  color-scheme: light dark;
  --background: #101417;
  --surface: #1c2024;
  --surface-high: #282a2f;
  --text: #e2e2e9;
  --primary: #aac7ff;
  --secondary: #ddbce0;
  --border: #8b9198;
}

body {
  display: flex;
  justify-content: space-between;
  padding: 12rem;

  background-color: var(--background);
}

.column {
  display: flex;
}

.row {
  position: relative;

  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--surface);

  transition: background-color 100ms;
}

.player .ship {
  background-color: var(--primary);
}

.shot::after {
  content: "";
  display: block;

  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--text);
  border-radius: 9999px;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.shot.ship::after {
  background-color: red;
}
.computer .sunk {
  background-color: var(--secondary);
}
