:root {
  color-scheme: light dark;
  --background: #101417;
  --surface: #1c2024;
  --surface-high: #282a2f;
  --primary: #aac7ff;
  --secondary: #ddbce0;
  --border: #8b9198;
}

body {
  display: flex;
  justify-content: space-between;
  padding: 12rem;

  background-color: var(--background);
}

.column {
  display: flex;
}

.row {
  position: relative;

  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--surface);

  transition: background-color 100ms;
}

.player .ship {
  background-color: var(--primary);
}

.computer .row::after {
  content: "";
  display: block;

  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--secondary);

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.computer .row:not(.shot):hover {
  background-color: var(--surface-high);
}

.shot {
  background-color: var(--surface-high);
}
.shot.ship {
  background-color: var(--secondary);
}
.computer .shot::after {
  display: none;
}
